*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Poppins';
    src: url(./fonts/Poppins-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'SF-Pro';
    src: url(./fonts/SF-Pro-Regular.ttf);
    font-weight: 400;
}

.App {
    width: 828px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 48px 0;
    flex-wrap: wrap;
    @media (max-width: 827px) {
        width: 343px;
        gap: 24px 0;
    }
}